examples/generate-deck.json
{
  "name": "Encelade — Generate a deck from a prompt",
  "nodes": [
    {
      "parameters": {},
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-120, 320]
    },
    {
      "parameters": {
        "resource": "presentation",
        "operation": "generate",
        "topic": "Q3 product strategy review",
        "outlineHints": [
          "Market landscape and where we win",
          "Our three bets for Q3",
          "Targets, milestones, and resourcing"
        ],
        "pageCount": "6",
        "additionalFields": {
          "audience": "Executive team",
          "tone": "Confident and concise",
          "theme": "default",
          "themeMode": "light",
          "mediaProvider": "unsplash"
        }
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Generate deck",
      "type": "n8n-nodes-encelade.encelade",
      "typeVersion": 1,
      "position": [100, 320]
    },
    {
      "parameters": { "amount": 20, "unit": "seconds" },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Wait 20s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [320, 320],
      "webhookId": "encelade-demo-wait"
    },
    {
      "parameters": {
        "resource": "session",
        "operation": "getStatus",
        "sessionId": "={{ $('Generate deck').item.json.sessionId }}"
      },
      "id": "d4444444-4444-4444-8444-444444444444",
      "name": "Check status",
      "type": "n8n-nodes-encelade.encelade",
      "typeVersion": 1,
      "position": [540, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-done",
              "leftValue": "={{ $json.phase }}",
              "rightValue": "done",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5555555-5555-4555-8555-555555555555",
      "name": "Deck ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "as-link", "name": "deckLink", "value": "={{ $json.link }}", "type": "string" },
            { "id": "as-pid", "name": "projectPid", "value": "={{ $json.projectPid }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "f6666666-6666-4666-8666-666666666666",
      "name": "Deck ready",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [980, 200]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Generate deck", "type": "main", "index": 0 }]]
    },
    "Generate deck": {
      "main": [[{ "node": "Wait 20s", "type": "main", "index": 0 }]]
    },
    "Wait 20s": {
      "main": [[{ "node": "Check status", "type": "main", "index": 0 }]]
    },
    "Check status": {
      "main": [[{ "node": "Deck ready?", "type": "main", "index": 0 }]]
    },
    "Deck ready?": {
      "main": [
        [{ "node": "Deck ready", "type": "main", "index": 0 }],
        [{ "node": "Wait 20s", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {}
}
